<div class="card_hero">
  <a href="post.html" class="card_hero__img">
    <picture>
      <% var bigUrl = imgUrl.split('.').join('@2.') %>
      <source srcset="<%= bigUrl %> 2x, <%= imgUrl %> 1x" />
      <img src="<%= imgUrl %>" alt="<%= title %>">
    </picture>
  </a>
  <div class="card_hero__body">
    <div class="card_hero__header">
      <a href="<%= authorLink %>" class="card_hero__author"><%= author %></a>
      <p class="card_hero__date">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6666 1.66665H10.3333V0.99998C10.3333 0.823169 10.263 0.653599 10.138 0.528575C10.013 0.403551 9.8434 0.333313 9.66659 0.333313C9.48977 0.333313 9.32021 0.403551 9.19518 0.528575C9.07016 0.653599 8.99992 0.823169 8.99992 0.99998V1.66665H4.99992V0.99998C4.99992 0.823169 4.92968 0.653599 4.80466 0.528575C4.67963 0.403551 4.51006 0.333313 4.33325 0.333313C4.15644 0.333313 3.98687 0.403551 3.86185 0.528575C3.73682 0.653599 3.66659 0.823169 3.66659 0.99998V1.66665H2.33325C1.80282 1.66665 1.29411 1.87736 0.919038 2.25243C0.543966 2.62751 0.333252 3.13621 0.333252 3.66665V11.6666C0.333252 12.1971 0.543966 12.7058 0.919038 13.0809C1.29411 13.4559 1.80282 13.6666 2.33325 13.6666H11.6666C12.197 13.6666 12.7057 13.4559 13.0808 13.0809C13.4559 12.7058 13.6666 12.1971 13.6666 11.6666V3.66665C13.6666 3.13621 13.4559 2.62751 13.0808 2.25243C12.7057 1.87736 12.197 1.66665 11.6666 1.66665ZM12.3333 11.6666C12.3333 11.8435 12.263 12.013 12.138 12.1381C12.013 12.2631 11.8434 12.3333 11.6666 12.3333H2.33325C2.15644 12.3333 1.98687 12.2631 1.86185 12.1381C1.73682 12.013 1.66659 11.8435 1.66659 11.6666V6.99998H12.3333V11.6666ZM12.3333 5.66665H1.66659V3.66665C1.66659 3.48984 1.73682 3.32027 1.86185 3.19524C1.98687 3.07022 2.15644 2.99998 2.33325 2.99998H3.66659V3.66665C3.66659 3.84346 3.73682 4.01303 3.86185 4.13805C3.98687 4.26308 4.15644 4.33331 4.33325 4.33331C4.51006 4.33331 4.67963 4.26308 4.80466 4.13805C4.92968 4.01303 4.99992 3.84346 4.99992 3.66665V2.99998H8.99992V3.66665C8.99992 3.84346 9.07016 4.01303 9.19518 4.13805C9.32021 4.26308 9.48977 4.33331 9.66659 4.33331C9.8434 4.33331 10.013 4.26308 10.138 4.13805C10.263 4.01303 10.3333 3.84346 10.3333 3.66665V2.99998H11.6666C11.8434 2.99998 12.013 3.07022 12.138 3.19524C12.263 3.32027 12.3333 3.48984 12.3333 3.66665V5.66665Z" fill="black" fill-opacity="0.3"/></svg>  
        <%= date %>
      </p>
    </div>  
    <h3 class="card_hero__title"><a href="<%= link %>"><%= title %></a></h3> 
    <p class="body_large card_hero__description"><%= text %></p>
    <div class="card_hero__info">
      <% categories.forEach(function(category){ %>
        <a href="category.html" class="body_small card_hero__category"><%= category %></a>
      <% }); %>
      <div class="card_hero__stats">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.06525 7.42271L7.66659 6.61537V3.66671C7.66659 3.4899 7.59635 3.32033 7.47133 3.1953C7.3463 3.07028 7.17673 3.00004 6.99992 3.00004C6.82311 3.00004 6.65354 3.07028 6.52852 3.1953C6.40349 3.32033 6.33325 3.4899 6.33325 3.66671V7.00004C6.33326 7.11706 6.36406 7.23202 6.42258 7.33336C6.48109 7.43471 6.56524 7.51886 6.66659 7.57737L8.39859 8.57737C8.47443 8.62184 8.55833 8.65086 8.64544 8.66277C8.73255 8.67468 8.82115 8.66925 8.90615 8.64677C8.99115 8.6243 9.07087 8.58524 9.14071 8.53183C9.21055 8.47843 9.26914 8.41173 9.3131 8.33559C9.35706 8.25945 9.38552 8.17537 9.39686 8.08818C9.40819 8.00099 9.40216 7.91243 9.37913 7.82758C9.35609 7.74273 9.3165 7.66328 9.26263 7.59379C9.20877 7.52431 9.14168 7.46616 9.06525 7.42271ZM6.99992 0.333374C5.68138 0.333374 4.39245 0.724367 3.29612 1.45691C2.19979 2.18945 1.34531 3.23064 0.840725 4.44882C0.336141 5.66699 0.204118 7.00744 0.461353 8.30064C0.718588 9.59385 1.35353 10.7817 2.28588 11.7141C3.21823 12.6464 4.40611 13.2814 5.69932 13.5386C6.99253 13.7958 8.33297 13.6638 9.55114 13.1592C10.7693 12.6547 11.8105 11.8002 12.5431 10.7038C13.2756 9.60751 13.6666 8.31858 13.6666 7.00004C13.6646 5.23253 12.9616 3.53796 11.7118 2.28814C10.462 1.03832 8.76744 0.335315 6.99992 0.333374ZM6.99992 12.3334C5.94509 12.3334 4.91394 12.0206 4.03688 11.4345C3.15982 10.8485 2.47623 10.0156 2.07256 9.04102C1.6689 8.06648 1.56328 6.99412 1.76907 5.95956C1.97485 4.92499 2.48281 3.97468 3.22869 3.2288C3.97457 2.48292 4.92487 1.97497 5.95944 1.76919C6.99401 1.5634 8.06636 1.66902 9.0409 2.07268C10.0154 2.47635 10.8484 3.15994 11.4344 4.037C12.0205 4.91406 12.3333 5.94521 12.3333 7.00004C12.3315 8.41399 11.769 9.76952 10.7692 10.7693C9.7694 11.7691 8.41387 12.3316 6.99992 12.3334Z" fill="black" fill-opacity="0.3"/></svg>
        <p>
          <%= ttr %> min read
        </p>
      </div>
      <div class="card_hero__stats">
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.6134 5.73329C12.2667 2.60663 9.73338 0.666626 7.00004 0.666626C4.26671 0.666626 1.73338 2.60663 0.386711 5.73329C0.350002 5.8174 0.331055 5.90819 0.331055 5.99996C0.331055 6.09173 0.350002 6.18251 0.386711 6.26663C1.73338 9.39329 4.26671 11.3333 7.00004 11.3333C9.73338 11.3333 12.2667 9.39329 13.6134 6.26663C13.6501 6.18251 13.669 6.09173 13.669 5.99996C13.669 5.90819 13.6501 5.8174 13.6134 5.73329ZM7.00004 9.99996C4.88671 9.99996 2.88671 8.47329 1.73338 5.99996C2.88671 3.52663 4.88671 1.99996 7.00004 1.99996C9.11338 1.99996 11.1134 3.52663 12.2667 5.99996C11.1134 8.47329 9.11338 9.99996 7.00004 9.99996ZM7.00004 3.33329C6.47263 3.33329 5.95706 3.48969 5.51852 3.78271C5.07999 4.07572 4.7382 4.4922 4.53637 4.97947C4.33453 5.46674 4.28172 6.00292 4.38462 6.5202C4.48751 7.03748 4.74149 7.51264 5.11443 7.88558C5.48737 8.25852 5.96252 8.51249 6.4798 8.61539C6.99709 8.71828 7.53326 8.66547 8.02053 8.46364C8.5078 8.2618 8.92428 7.92001 9.2173 7.48148C9.51031 7.04295 9.66671 6.52738 9.66671 5.99996C9.66671 5.29272 9.38576 4.61444 8.88566 4.11434C8.38557 3.61424 7.70729 3.33329 7.00004 3.33329ZM7.00004 7.33329C6.73634 7.33329 6.47855 7.25509 6.25928 7.10858C6.04002 6.96208 5.86912 6.75384 5.76821 6.5102C5.66729 6.26657 5.64088 5.99848 5.69233 5.73984C5.74378 5.4812 5.87077 5.24362 6.05724 5.05715C6.24371 4.87068 6.48128 4.74369 6.73992 4.69225C6.99857 4.6408 7.26665 4.6672 7.51029 4.76812C7.75392 4.86904 7.96216 5.03993 8.10867 5.2592C8.25518 5.47846 8.33338 5.73625 8.33338 5.99996C8.33338 6.35358 8.1929 6.69272 7.94285 6.94277C7.6928 7.19282 7.35367 7.33329 7.00004 7.33329Z" fill="black" fill-opacity="0.3"/></svg>
        <p>
          <%= views %>
        </p>
      </div>
      <div class="card_hero__bookmark">
        <svg viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 0H3.00001C2.20436 0 1.4413 0.316071 0.878688 0.87868C0.316078 1.44129 7.88292e-06 2.20435 7.88292e-06 3V19C-0.000691684 19.1762 0.0451825 19.3495 0.132986 19.5023C0.220789 19.655 0.347404 19.7819 0.500008 19.87C0.652027 19.9578 0.824471 20.004 1.00001 20.004C1.17554 20.004 1.34799 19.9578 1.50001 19.87L7.00001 16.69L12.5 19.87C12.6524 19.9564 12.8248 20.0012 13 20C13.1752 20.0012 13.3476 19.9564 13.5 19.87C13.6526 19.7819 13.7792 19.655 13.867 19.5023C13.9548 19.3495 14.0007 19.1762 14 19V3C14 2.20435 13.6839 1.44129 13.1213 0.87868C12.5587 0.316071 11.7957 0 11 0ZM12 17.27L7.50001 14.67C7.34799 14.5822 7.17554 14.536 7.00001 14.536C6.82447 14.536 6.65203 14.5822 6.50001 14.67L2.00001 17.27V3C2.00001 2.73478 2.10536 2.48043 2.2929 2.29289C2.48044 2.10536 2.73479 2 3.00001 2H11C11.2652 2 11.5196 2.10536 11.7071 2.29289C11.8947 2.48043 12 2.73478 12 3V17.27Z" fill="black" fill-opacity="0.3"/></svg>
      </div>
    </div>
  </div>
</div>
