<header class="menu_main" id="menu_main">
  <div class="menu_main__container">
    <div class="menu_main__open-button" id="menu_main__button">
      <svg id="menu_main__button__show" width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 2H19C19.2652 2 19.5196 1.89464 19.7071 1.70711C19.8946 1.51957 20 1.26522 20 1C20 0.734784 19.8946 0.48043 19.7071 0.292893C19.5196 0.105357 19.2652 0 19 0H1C0.734784 0 0.48043 0.105357 0.292893 0.292893C0.105357 0.48043 0 0.734784 0 1C0 1.26522 0.105357 1.51957 0.292893 1.70711C0.48043 1.89464 0.734784 2 1 2ZM19 10H1C0.734784 10 0.48043 10.1054 0.292893 10.2929C0.105357 10.4804 0 10.7348 0 11C0 11.2652 0.105357 11.5196 0.292893 11.7071C0.48043 11.8946 0.734784 12 1 12H19C19.2652 12 19.5196 11.8946 19.7071 11.7071C19.8946 11.5196 20 11.2652 20 11C20 10.7348 19.8946 10.4804 19.7071 10.2929C19.5196 10.1054 19.2652 10 19 10ZM19 5H1C0.734784 5 0.48043 5.10536 0.292893 5.29289C0.105357 5.48043 0 5.73478 0 6C0 6.26522 0.105357 6.51957 0.292893 6.70711C0.48043 6.89464 0.734784 7 1 7H19C19.2652 7 19.5196 6.89464 19.7071 6.70711C19.8946 6.51957 20 6.26522 20 6C20 5.73478 19.8946 5.48043 19.7071 5.29289C19.5196 5.10536 19.2652 5 19 5Z" fill="black"/></svg>
      <svg id="menu_main__button__close" style="display: none;" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6574 10.2427L7.41474 6.00004L11.6574 1.7574C11.8449 1.56986 11.9503 1.31551 11.9503 1.05029C11.9503 0.785076 11.8449 0.530722 11.6574 0.343186C11.4698 0.15565 11.2155 0.050293 10.9503 0.050293C10.6851 0.050293 10.4307 0.15565 10.2432 0.343186L6.00053 4.58583L1.75789 0.343186C1.57035 0.15565 1.316 0.050293 1.05078 0.050293C0.785565 0.050293 0.531211 0.15565 0.343675 0.343186C0.156138 0.530722 0.0507819 0.785076 0.0507819 1.05029C0.0507819 1.31551 0.156138 1.56986 0.343675 1.7574L4.58632 6.00004L0.343675 10.2427C0.156138 10.4302 0.0507812 10.6846 0.0507812 10.9498C0.0507812 11.215 0.156138 11.4694 0.343675 11.6569C0.531211 11.8444 0.785564 11.9498 1.05078 11.9498C1.316 11.9498 1.57035 11.8444 1.75789 11.6569L6.00053 7.41425L10.2432 11.6569C10.4307 11.8444 10.6851 11.9498 10.9503 11.9498C11.2155 11.9498 11.4698 11.8444 11.6574 11.6569C11.8449 11.4694 11.9503 11.215 11.9503 10.9498C11.9503 10.6846 11.8449 10.4302 11.6574 10.2427Z" fill="black"/></svg>
      <p class="caption_3">Menu</p>
    </div>
    <a href="/" class="menu_main__logo">Alpine</a>
    <div class="menu_main__user-block">
      <label class="menu_main__user-block-item-search" id="main_menu__search">
        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.7114 19.2899L17.0014 15.6099C18.4415 13.8143 19.1389 11.5352 18.9502 9.2412C18.7615 6.94721 17.701 4.81269 15.9869 3.27655C14.2727 1.74041 12.0352 0.919414 9.73429 0.982375C7.43341 1.04534 5.24409 1.98747 3.61651 3.61505C1.98893 5.24263 1.0468 7.43194 0.98384 9.73283C0.920879 12.0337 1.74188 14.2713 3.27801 15.9854C4.81415 17.6996 6.94867 18.76 9.24267 18.9487C11.5367 19.1374 13.8158 18.44 15.6114 16.9999L19.2914 20.6799C19.3843 20.7736 19.4949 20.848 19.6168 20.8988C19.7387 20.9496 19.8694 20.9757 20.0014 20.9757C20.1334 20.9757 20.2641 20.9496 20.3859 20.8988C20.5078 20.848 20.6184 20.7736 20.7114 20.6799C20.8916 20.4934 20.9924 20.2442 20.9924 19.9849C20.9924 19.7256 20.8916 19.4764 20.7114 19.2899ZM10.0014 16.9999C8.6169 16.9999 7.26352 16.5894 6.11238 15.8202C4.96123 15.051 4.06403 13.9578 3.53421 12.6787C3.0044 11.3996 2.86578 9.99214 3.13587 8.63427C3.40597 7.27641 4.07265 6.02912 5.05162 5.05016C6.03059 4.07119 7.27787 3.4045 8.63574 3.13441C9.9936 2.86431 11.4011 3.00293 12.6802 3.53275C13.9592 4.06256 15.0525 4.95977 15.8217 6.11091C16.5908 7.26206 17.0014 8.61544 17.0014 9.9999C17.0014 11.8564 16.2639 13.6369 14.9511 14.9497C13.6384 16.2624 11.8579 16.9999 10.0014 16.9999Z" fill="black"/></svg>
        <input type="search" placeholder="search" id="main_menu__search-input">
      </label>
      <div class="menu_main__user-block-item">
        <svg width="14" height="21" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 0H3.00001C2.20436 0 1.4413 0.316071 0.878688 0.87868C0.316078 1.44129 7.88292e-06 2.20435 7.88292e-06 3V19C-0.000691684 19.1762 0.0451825 19.3495 0.132986 19.5023C0.220789 19.655 0.347404 19.7819 0.500008 19.87C0.652027 19.9578 0.824471 20.004 1.00001 20.004C1.17554 20.004 1.34799 19.9578 1.50001 19.87L7.00001 16.69L12.5 19.87C12.6524 19.9564 12.8248 20.0012 13 20C13.1752 20.0012 13.3476 19.9564 13.5 19.87C13.6526 19.7819 13.7792 19.655 13.867 19.5023C13.9548 19.3495 14.0007 19.1762 14 19V3C14 2.20435 13.6839 1.44129 13.1213 0.87868C12.5587 0.316071 11.7957 0 11 0ZM12 17.27L7.50001 14.67C7.34799 14.5822 7.17554 14.536 7.00001 14.536C6.82447 14.536 6.65203 14.5822 6.50001 14.67L2.00001 17.27V3C2.00001 2.73478 2.10536 2.48043 2.2929 2.29289C2.48044 2.10536 2.73479 2 3.00001 2H11C11.2652 2 11.5196 2.10536 11.7071 2.29289C11.8947 2.48043 12 2.73478 12 3V17.27Z" fill="black"/></svg>
      </div>
      <div class="menu_main__user-block-item" id="main_menu__login">
        <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.7085 11.7099C14.6889 10.9385 15.4045 9.8808 15.7558 8.68382C16.107 7.48684 16.0765 6.21015 15.6683 5.03135C15.2602 3.85255 14.4948 2.83027 13.4786 2.10674C12.4624 1.3832 11.246 0.994385 9.99853 0.994385C8.75108 0.994385 7.53465 1.3832 6.51846 2.10674C5.50228 2.83027 4.73688 3.85255 4.32874 5.03135C3.92061 6.21015 3.89004 7.48684 4.24129 8.68382C4.59254 9.8808 5.30814 10.9385 6.28853 11.7099C4.60861 12.3829 3.14282 13.4992 2.04742 14.9398C0.95203 16.3804 0.268095 18.0912 0.0685318 19.8899C0.0540864 20.0212 0.0656484 20.1541 0.102557 20.2809C0.139466 20.4078 0.200999 20.5261 0.283643 20.6292C0.450551 20.8374 0.693315 20.9707 0.958532 20.9999C1.22375 21.0291 1.48969 20.9517 1.69786 20.7848C1.90602 20.6179 2.03936 20.3751 2.06853 20.1099C2.28812 18.1551 3.22022 16.3497 4.68675 15.0387C6.15328 13.7277 8.05143 13.0029 10.0185 13.0029C11.9856 13.0029 13.8838 13.7277 15.3503 15.0387C16.8168 16.3497 17.7489 18.1551 17.9685 20.1099C17.9957 20.3556 18.113 20.5825 18.2976 20.7469C18.4823 20.9113 18.7213 21.0014 18.9685 20.9999H19.0785C19.3407 20.9697 19.5803 20.8372 19.7451 20.6311C19.9099 20.4251 19.9866 20.1622 19.9585 19.8999C19.758 18.0961 19.0704 16.3809 17.9694 14.9381C16.8684 13.4953 15.3954 12.3794 13.7085 11.7099ZM9.99853 10.9999C9.20741 10.9999 8.43405 10.7653 7.77625 10.3258C7.11845 9.88623 6.60576 9.26152 6.30301 8.53061C6.00026 7.79971 5.92105 6.99544 6.07539 6.21952C6.22973 5.4436 6.61069 4.73086 7.1701 4.17145C7.72951 3.61204 8.44225 3.23108 9.21817 3.07674C9.99409 2.9224 10.7984 3.00161 11.5293 3.30436C12.2602 3.60711 12.8849 4.1198 13.3244 4.7776C13.7639 5.4354 13.9985 6.20876 13.9985 6.99988C13.9985 8.06075 13.5771 9.07816 12.827 9.82831C12.0768 10.5785 11.0594 10.9999 9.99853 10.9999Z" fill="black"/></svg>
      </div>
    </div>
  </div>
  <div class="menu_main__dropdown collapsible" id="menu_main__dropdown" data-collapsed=true style="height: 0;">
    <div class="menu_main__dropdown-inner">
      <div class="menu_main__main-section">
          <div class="col">
            <p class="lead_medium menu_main__list-title"><%= menuCol1Title1 %></p>
            <ul class="menu_main__list">
              <% menuCol1Items1.forEach(function(item){ %>
                <li><a href="category.html"><%= item %></a></li>
              <% }); %>
            </ul>
          </div>
          <div class="col">
            <p class="lead_medium menu_main__list-title"><%= menuCol2Title1 %></p>
            <ul class="menu_main__list">
              <% menuCol2Items1.forEach(function(item){ %>
                <li><a href="category.html"><%= item %></a></li>
              <% }); %>
            </ul>
          </div>
          <div class="col">
            <p class="lead_medium menu_main__list-title"><%= menuCol3Title1 %></p>
            <ul class="menu_main__list">
              <% menuCol3Items1.forEach(function(item){ %>
                <li><a href="category.html"><%= item %></a></li>
              <% }); %>
            </ul>
          </div>
          <div class="col">
            <p class="lead_medium menu_main__list-title"><%= menuCol1Title2 %></p>
            <ul class="menu_main__list">
              <% menuCol1Items2.forEach(function(item){ %>
                <li><a href="#"><%= item %></a></li>
              <% }); %>
            </ul>
          </div>
          <div class="col">
            <p class="lead_medium menu_main__list-title"><%= menuCol2Title2 %></p>
            <ul class="menu_main__list">
              <% menuCol2Items2.forEach(function(item){ %>
                <li><a href="category.html"><%= item %></a></li>
              <% }); %>
            </ul>
          </div>
          <div class="col">
            <p class="lead_medium menu_main__list-title"><%= menuCol3Title2 %></p>
            <ul class="menu_main__list">
              <% menuCol3Items2.forEach(function(item){ %>
                <li><a href="category.html"><%= item %></a></li>
              <% }); %>
            </ul>
          </div>
          <div class="col">
            <a href="featured.html" class="lead_medium menu_main__list-title menu_main__mobile-item">Featured</a>
          </div>
          <div class="col">
            <a class="lead_medium menu_main__list-title menu_main__mobile-item" id='account_link'>Account</a>
          </div>
      </div>
      <div class="menu_main__articles-section">
        <p class="lead_medium menu_main__list-title disable">Popular articles</p>
        <% for (var i = 0; i < 4; i++) { %>
          <div class="menu_main__article">
            <img src="<%= articles[i][0] %>" alt="">
            <div class="menu_main__article-content">
              <div class="menu_main__article-header">
                <div class="caption_4">
                  <%= articles[i][1] %>
                </div>
                <div class="caption_4">
                  <%= articles[i][2] %>
                </div>
              </div>
              <div class="menu_main__article-body">
                <a href="post.html" class="menu_main__article-title"><%= articles[i][3] %></a>
                <svg width="14" height="21" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 0H3.00001C2.20436 0 1.4413 0.316071 0.878688 0.87868C0.316078 1.44129 7.88292e-06 2.20435 7.88292e-06 3V19C-0.000691684 19.1762 0.0451825 19.3495 0.132986 19.5023C0.220789 19.655 0.347404 19.7819 0.500008 19.87C0.652027 19.9578 0.824471 20.004 1.00001 20.004C1.17554 20.004 1.34799 19.9578 1.50001 19.87L7.00001 16.69L12.5 19.87C12.6524 19.9564 12.8248 20.0012 13 20C13.1752 20.0012 13.3476 19.9564 13.5 19.87C13.6526 19.7819 13.7792 19.655 13.867 19.5023C13.9548 19.3495 14.0007 19.1762 14 19V3C14 2.20435 13.6839 1.44129 13.1213 0.87868C12.5587 0.316071 11.7957 0 11 0ZM12 17.27L7.50001 14.67C7.34799 14.5822 7.17554 14.536 7.00001 14.536C6.82447 14.536 6.65203 14.5822 6.50001 14.67L2.00001 17.27V3C2.00001 2.73478 2.10536 2.48043 2.2929 2.29289C2.48044 2.10536 2.73479 2 3.00001 2H11C11.2652 2 11.5196 2.10536 11.7071 2.29289C11.8947 2.48043 12 2.73478 12 3V17.27Z" fill="black"/></svg>
              </div>
            </div>
          </div>
        <% } %>
        <a href="featured.html" class="menu_main__articles-link">
          Explore all
        </a>
      </div>
    </div>
  </div>
</header>
<div class="user_window" id="user_window">
  <picture>
    <% var bigUrl = userImg.split('.').join('@2.') %>
    <source srcset="<%= bigUrl %> 2x, <%= userImg %> 1x" />
    <img class="user_window__avatar" src="<%= userImg %>" alt="<%= userFirstName %>">
  </picture>
  <p class="user_window__name">
    <%= userFirstName %> <%= userSurname %>
  </p>
  <p class="user_window__email caption_4">
    <%= userEmail %>
  </p>
  <div class="user_window__delimiter"></div>
  <a href="#" class="user_window__login" id="user_window__login" data-target="#modal_1" data-toggle="modal">
    Logout
  </a>
</div>
<div class="search-results" id="search-results">
  <div class="search-results__header">
    <p class="lead_medium">Authors</p>
    <a href="/search-results.html">
      <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.92 6.21394C11.8724 6.09118 11.801 5.97904 11.71 5.88394L6.71 0.883935C6.61676 0.790697 6.50607 0.716736 6.38425 0.666276C6.26243 0.615816 6.13186 0.589844 6 0.589844C5.7337 0.589844 5.4783 0.695632 5.29 0.883935C5.19676 0.977174 5.1228 1.08786 5.07234 1.20969C5.02188 1.33151 4.99591 1.46208 4.99591 1.59394C4.99591 1.86024 5.1017 2.11563 5.29 2.30394L8.59 5.59394H1C0.734784 5.59394 0.48043 5.69929 0.292893 5.88683C0.105357 6.07437 0 6.32872 0 6.59394C0 6.85915 0.105357 7.11351 0.292893 7.30104C0.48043 7.48858 0.734784 7.59394 1 7.59394H8.59L5.29 10.8839C5.19627 10.9769 5.12188 11.0875 5.07111 11.2094C5.02034 11.3312 4.9942 11.4619 4.9942 11.5939C4.9942 11.7259 5.02034 11.8567 5.07111 11.9785C5.12188 12.1004 5.19627 12.211 5.29 12.3039C5.38296 12.3977 5.49356 12.4721 5.61542 12.5228C5.73728 12.5736 5.86799 12.5997 6 12.5997C6.13201 12.5997 6.26272 12.5736 6.38458 12.5228C6.50644 12.4721 6.61704 12.3977 6.71 12.3039L11.71 7.30394C11.801 7.20883 11.8724 7.09669 11.92 6.97394C12.02 6.73047 12.02 6.4574 11.92 6.21394Z" fill="black" fill-opacity="0.3"/></svg>      
    </a>
  </div>
  <div class="search-results__author">
    <picture>
      <source srcset="images/users/Theresa_Webb@2.jpg 2x, images/users/Theresa_Webb.jpg 1x" />
      <img class="avatar_small" src="images/users/Theresa_Webb.jpg" alt="Theresa Webb">
    </picture>
    <p class="caption_1_med">Theresa Webb</p>
    <button class="button_small button_follow">Follow</button>
  </div>
  <div class="search-results__author">
    <picture>
      <source srcset="images/users/Noname@2.jpg 2x, images/users/Noname.jpg 1x" />
      <img class="avatar_small" src="images/users/Noname.jpg" alt="Theresa Webb">
    </picture>
    <p class="caption_1_med">Leslie Alexander</p>
    <button class="button_small button_follow">Follow</button>
  </div>
  <div class="search-results__header  m-t-30 m-t-md-40">
    <p class="lead_medium">Articles</p>
    <a href="/search-results.html">
      <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.92 6.21394C11.8724 6.09118 11.801 5.97904 11.71 5.88394L6.71 0.883935C6.61676 0.790697 6.50607 0.716736 6.38425 0.666276C6.26243 0.615816 6.13186 0.589844 6 0.589844C5.7337 0.589844 5.4783 0.695632 5.29 0.883935C5.19676 0.977174 5.1228 1.08786 5.07234 1.20969C5.02188 1.33151 4.99591 1.46208 4.99591 1.59394C4.99591 1.86024 5.1017 2.11563 5.29 2.30394L8.59 5.59394H1C0.734784 5.59394 0.48043 5.69929 0.292893 5.88683C0.105357 6.07437 0 6.32872 0 6.59394C0 6.85915 0.105357 7.11351 0.292893 7.30104C0.48043 7.48858 0.734784 7.59394 1 7.59394H8.59L5.29 10.8839C5.19627 10.9769 5.12188 11.0875 5.07111 11.2094C5.02034 11.3312 4.9942 11.4619 4.9942 11.5939C4.9942 11.7259 5.02034 11.8567 5.07111 11.9785C5.12188 12.1004 5.19627 12.211 5.29 12.3039C5.38296 12.3977 5.49356 12.4721 5.61542 12.5228C5.73728 12.5736 5.86799 12.5997 6 12.5997C6.13201 12.5997 6.26272 12.5736 6.38458 12.5228C6.50644 12.4721 6.61704 12.3977 6.71 12.3039L11.71 7.30394C11.801 7.20883 11.8724 7.09669 11.92 6.97394C12.02 6.73047 12.02 6.4574 11.92 6.21394Z" fill="black" fill-opacity="0.3"/></svg>      
    </a>
  </div>
  <div class="search-results__article">
    <picture>
      <source srcset="images/cards/card_medium_1@2.jpg 2x, images/cards/card_medium_1.jpg 1x" />
      <img class="search-results__article-img" src=" images/cards/card_medium_1.jpg">
    </picture>
    <div class="search-results__article-content">
      <div class="search-results__article-header">
        <div class="caption_4">
          Leslie Alexander
        </div>
        <div class="caption_4">
          3 Aug 20
        </div>
      </div>
      <div class="search-results__article-body">
        <a href="#" class="search-results__article-title">Gabriella, Aleks, Elena, and Tomas Sit Down for Dinner</a>
        <svg width="14" height="21" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 0H3.00001C2.20436 0 1.4413 0.316071 0.878688 0.87868C0.316078 1.44129 7.88292e-06 2.20435 7.88292e-06 3V19C-0.000691684 19.1762 0.0451825 19.3495 0.132986 19.5023C0.220789 19.655 0.347404 19.7819 0.500008 19.87C0.652027 19.9578 0.824471 20.004 1.00001 20.004C1.17554 20.004 1.34799 19.9578 1.50001 19.87L7.00001 16.69L12.5 19.87C12.6524 19.9564 12.8248 20.0012 13 20C13.1752 20.0012 13.3476 19.9564 13.5 19.87C13.6526 19.7819 13.7792 19.655 13.867 19.5023C13.9548 19.3495 14.0007 19.1762 14 19V3C14 2.20435 13.6839 1.44129 13.1213 0.87868C12.5587 0.316071 11.7957 0 11 0ZM12 17.27L7.50001 14.67C7.34799 14.5822 7.17554 14.536 7.00001 14.536C6.82447 14.536 6.65203 14.5822 6.50001 14.67L2.00001 17.27V3C2.00001 2.73478 2.10536 2.48043 2.2929 2.29289C2.48044 2.10536 2.73479 2 3.00001 2H11C11.2652 2 11.5196 2.10536 11.7071 2.29289C11.8947 2.48043 12 2.73478 12 3V17.27Z" fill="black"></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="search-results__article">
    <picture>
      <source srcset="images/cards/small_image_2@2.jpg 2x, images/cards/small_image_2.jpg 1x" />
      <img class="search-results__article-img" src=" images/cards/small_image_2.jpg">
    </picture>
    <div class="search-results__article-content">
      <div class="search-results__article-header">
        <div class="caption_4">
          Dianne Russell
        </div>
        <div class="caption_4">
          3 Aug 20
        </div>
      </div>
      <div class="search-results__article-body">
        <a href="#" class="search-results__article-title">Through A Mirror Darkly</a>
        <svg width="14" height="21" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 0H3.00001C2.20436 0 1.4413 0.316071 0.878688 0.87868C0.316078 1.44129 7.88292e-06 2.20435 7.88292e-06 3V19C-0.000691684 19.1762 0.0451825 19.3495 0.132986 19.5023C0.220789 19.655 0.347404 19.7819 0.500008 19.87C0.652027 19.9578 0.824471 20.004 1.00001 20.004C1.17554 20.004 1.34799 19.9578 1.50001 19.87L7.00001 16.69L12.5 19.87C12.6524 19.9564 12.8248 20.0012 13 20C13.1752 20.0012 13.3476 19.9564 13.5 19.87C13.6526 19.7819 13.7792 19.655 13.867 19.5023C13.9548 19.3495 14.0007 19.1762 14 19V3C14 2.20435 13.6839 1.44129 13.1213 0.87868C12.5587 0.316071 11.7957 0 11 0ZM12 17.27L7.50001 14.67C7.34799 14.5822 7.17554 14.536 7.00001 14.536C6.82447 14.536 6.65203 14.5822 6.50001 14.67L2.00001 17.27V3C2.00001 2.73478 2.10536 2.48043 2.2929 2.29289C2.48044 2.10536 2.73479 2 3.00001 2H11C11.2652 2 11.5196 2.10536 11.7071 2.29289C11.8947 2.48043 12 2.73478 12 3V17.27Z" fill="black"></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="search-results__article m-b-17">
    <picture>
      <source srcset="images/cards/small_image_3@2.jpg 2x, images/cards/small_image_3.jpg 1x" />
      <img class="search-results__article-img" src=" images/cards/small_image_3.jpg">
    </picture>
    <div class="search-results__article-content">
      <div class="search-results__article-header">
        <div class="caption_4">
          Jane Cooper
        </div>
        <div class="caption_4">
          3 Aug 20
        </div>
      </div>
      <div class="search-results__article-body">
        <a href="#" class="search-results__article-title">10 Bad Habits of Unsuccessful People</a>
        <svg width="14" height="21" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 0H3.00001C2.20436 0 1.4413 0.316071 0.878688 0.87868C0.316078 1.44129 7.88292e-06 2.20435 7.88292e-06 3V19C-0.000691684 19.1762 0.0451825 19.3495 0.132986 19.5023C0.220789 19.655 0.347404 19.7819 0.500008 19.87C0.652027 19.9578 0.824471 20.004 1.00001 20.004C1.17554 20.004 1.34799 19.9578 1.50001 19.87L7.00001 16.69L12.5 19.87C12.6524 19.9564 12.8248 20.0012 13 20C13.1752 20.0012 13.3476 19.9564 13.5 19.87C13.6526 19.7819 13.7792 19.655 13.867 19.5023C13.9548 19.3495 14.0007 19.1762 14 19V3C14 2.20435 13.6839 1.44129 13.1213 0.87868C12.5587 0.316071 11.7957 0 11 0ZM12 17.27L7.50001 14.67C7.34799 14.5822 7.17554 14.536 7.00001 14.536C6.82447 14.536 6.65203 14.5822 6.50001 14.67L2.00001 17.27V3C2.00001 2.73478 2.10536 2.48043 2.2929 2.29289C2.48044 2.10536 2.73479 2 3.00001 2H11C11.2652 2 11.5196 2.10536 11.7071 2.29289C11.8947 2.48043 12 2.73478 12 3V17.27Z" fill="black"></path>
        </svg>
      </div>
    </div>
  </div>
  <a href="#" class="search-results__link">Exlpore all</a>
</div>
