<div id="<%= id %>" class="modal" >  
  <div class="modal__content">
    <% if ( locals.heading ) { %>
      <div class="modal__heading">
        <h5 class="modal__name"><%= heading.name %></h5>
        <p class="caption_4_med"><%= heading.text %>
          <a herf="#" data-target="<%= heading.link.target %>" data-toggle="modal" ><%= heading.link.text %></a>
        </p>
      </div>
    <% } %>
    <div class="modal-body">
      <a href="/" class="button button_small_br">Go to main page</a>
      <p>Какой-то текст в теле модального окна</p>
      <p>Ещё другой текст...</p>
    </div>
    <div class="modal-footer">
      <h3>Футер модального окна</h3>
    </div>
  </div>
</div>
