<div id="<%= id %>" class="modal" >  
  <div class="modal__content">
    <% if ( locals.greetings ) { %>
      <h5 class="text-center modal__greetings-title">Welcome, New user</h5>
      <p class="body_normal text-center modal__greetings-text">Add an photo and let others get to know you better! You can do it later</p>
      <div class="modal__greetings-photo">
        <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 3.50002H15.72L15.4 2.50002C15.1926 1.91325 14.8077 1.40553 14.2989 1.04718C13.7901 0.68884 13.1824 0.497623 12.56 0.500022H7.44C6.81155 0.501198 6.19933 0.699705 5.68977 1.06753C5.1802 1.43535 4.79901 1.95391 4.6 2.55002L4.28 3.55002H3C2.20435 3.55002 1.44129 3.86609 0.87868 4.4287C0.316071 4.99131 0 5.75437 0 6.55002V14.55C0 15.3457 0.316071 16.1087 0.87868 16.6713C1.44129 17.234 2.20435 17.55 3 17.55H17C17.7956 17.55 18.5587 17.234 19.1213 16.6713C19.6839 16.1087 20 15.3457 20 14.55V6.55002C20.0066 6.15187 19.9339 5.75638 19.7862 5.38661C19.6384 5.01684 19.4184 4.6802 19.1392 4.39631C18.86 4.11241 18.527 3.88695 18.1597 3.73307C17.7924 3.57919 17.3982 3.49997 17 3.50002ZM18 14.5C18 14.7652 17.8946 15.0196 17.7071 15.2071C17.5196 15.3947 17.2652 15.5 17 15.5H3C2.73478 15.5 2.48043 15.3947 2.29289 15.2071C2.10536 15.0196 2 14.7652 2 14.5V6.50002C2 6.23481 2.10536 5.98045 2.29289 5.79292C2.48043 5.60538 2.73478 5.50002 3 5.50002H5C5.21807 5.5114 5.43386 5.4511 5.61443 5.32831C5.795 5.20552 5.93042 5.027 6 4.82002L6.54 3.18002C6.60709 2.9814 6.7349 2.80889 6.90537 2.68686C7.07584 2.56484 7.28036 2.49948 7.49 2.50002H12.61C12.8196 2.49948 13.0242 2.56484 13.1946 2.68686C13.3651 2.80889 13.4929 2.9814 13.56 3.18002L14.1 4.82002C14.1642 5.01077 14.2844 5.17771 14.445 5.29903C14.6055 5.42035 14.799 5.4904 15 5.50002H17C17.2652 5.50002 17.5196 5.60538 17.7071 5.79292C17.8946 5.98045 18 6.23481 18 6.50002V14.5ZM10 5.50002C9.20887 5.50002 8.43552 5.73462 7.77772 6.17414C7.11992 6.61367 6.60723 7.23838 6.30448 7.96929C6.00173 8.70019 5.92252 9.50446 6.07686 10.2804C6.2312 11.0563 6.61216 11.769 7.17157 12.3284C7.73098 12.8879 8.44372 13.2688 9.21964 13.4232C9.99556 13.5775 10.7998 13.4983 11.5307 13.1955C12.2616 12.8928 12.8864 12.3801 13.3259 11.7223C13.7654 11.0645 14 10.2911 14 9.50002C14 8.43916 13.5786 7.42174 12.8284 6.6716C12.0783 5.92145 11.0609 5.50002 10 5.50002ZM10 11.5C9.60444 11.5 9.21776 11.3827 8.88886 11.163C8.55996 10.9432 8.30362 10.6308 8.15224 10.2654C8.00087 9.89994 7.96126 9.4978 8.03843 9.10984C8.1156 8.72188 8.30608 8.36551 8.58579 8.08581C8.86549 7.8061 9.22186 7.61562 9.60982 7.53845C9.99778 7.46128 10.3999 7.50089 10.7654 7.65226C11.1308 7.80364 11.4432 8.05998 11.6629 8.38888C11.8827 8.71778 12 9.10446 12 9.50002C12 10.0305 11.7893 10.5392 11.4142 10.9142C11.0391 11.2893 10.5304 11.5 10 11.5Z" fill="black" fill-opacity="0.3"/></svg>          
      </div>
      <form action="">
        <input class="input_button" type="submit" value="Finish">
      </form>
    <% } %>  
    <% if ( locals.heading ) { %>
      <div class="modal__heading">
        <h5 class="modal__name"><%= heading.name %></h5>
        <p class="caption_4_med"><%= heading.text %>
          <a herf="#" data-target="<%= heading.link.target %>" data-toggle="modal" ><%= heading.link.text %></a>
        </p>
      </div>
    <% } %>
    <div class="modal__body">
    <% if ( locals.form ) { %>
      <form >
        <% form.inputs.forEach(function(input, index) { %>
          <% combined_classes = ['input_icon-left', 'input_icon-right', 'input_icon-both']; %>  
          <% if (combined_classes.indexOf(input.class) > -1) {  %><label class="input-combined" for="<%= input.name %><%= index + 1 %>"><% }; %> 
          <% switch (input.type) {
            case 'text' : %>
                    <input class="<%= input.class %>" 
                    type="text" 
                    name="<%= input.name %>" 
                    id="<%= input.name %><%= index + 1 %>"
                    placeholder="Name"
                    >   
                    <% break;

            case 'email' : %>
                    <input 
                      class="<%= input.class %>" 
                      type="email" 
                      name="<%= input.name %>" 
                      id="<%= input.name %><%= index + 1 %>"
                      placeholder="Email"
                    >
                    <% break;

            case 'password' : %>
                    <input 
                    class="<%= input.class %>" 
                    type="password" 
                    name="<%= input.name %>" 
                    id="<%= input.name %><%= index + 1 %>"
                    placeholder="Password"
                    >
                    <svg class="password-toggler" width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.267 6.66658C15.5836 2.75825 12.417 0.333252 9.0003 0.333252C5.58363 0.333252 2.41697 2.75825 0.733633 6.66658C0.687747 6.77172 0.664062 6.8852 0.664062 6.99992C0.664063 7.11463 0.687747 7.22811 0.733633 7.33325C2.41697 11.2416 5.58363 13.6666 9.0003 13.6666C12.417 13.6666 15.5836 11.2416 17.267 7.33325C17.3129 7.22811 17.3365 7.11463 17.3365 6.99992C17.3365 6.8852 17.3129 6.77172 17.267 6.66658ZM9.0003 11.9999C6.35863 11.9999 3.85863 10.0916 2.41697 6.99992C3.85863 3.90825 6.35863 1.99992 9.0003 1.99992C11.642 1.99992 14.142 3.90825 15.5836 6.99992C14.142 10.0916 11.642 11.9999 9.0003 11.9999ZM9.0003 3.66658C8.34103 3.66658 7.69656 3.86208 7.1484 4.22835C6.60024 4.59462 6.17299 5.11522 5.9207 5.72431C5.66841 6.33339 5.6024 7.00362 5.73102 7.65022C5.85963 8.29682 6.1771 8.89077 6.64328 9.35694C7.10945 9.82312 7.7034 10.1406 8.35 10.2692C8.9966 10.3978 9.66683 10.3318 10.2759 10.0795C10.885 9.82722 11.4056 9.39998 11.7719 8.85182C12.1381 8.30365 12.3336 7.65919 12.3336 6.99992C12.3336 6.11586 11.9824 5.26802 11.3573 4.6429C10.7322 4.01777 9.88436 3.66658 9.0003 3.66658ZM9.0003 8.66658C8.67066 8.66658 8.34843 8.56884 8.07435 8.3857C7.80027 8.20256 7.58665 7.94227 7.4605 7.63772C7.33435 7.33318 7.30135 6.99807 7.36566 6.67477C7.42997 6.35147 7.5887 6.05449 7.82179 5.82141C8.05488 5.58832 8.35185 5.42958 8.67515 5.36528C8.99845 5.30097 9.33356 5.33397 9.63811 5.46012C9.94265 5.58626 10.2029 5.79989 10.3861 6.07397C10.5692 6.34805 10.667 6.67028 10.667 6.99992C10.667 7.44195 10.4914 7.86587 10.1788 8.17843C9.86625 8.49099 9.44233 8.66658 9.0003 8.66658Z" fill="black"/></svg>
                    <% break;

            case 'submit' : %>
                    <input class="<%= input.class %>" type="submit" value="<%= input.value %>">
                    <% break;
            } %>
            <% if (combined_classes.indexOf(input.class) > -1) {  %></label><% }; %> 
        <% }); %>  
      </form>
    <% } %>    
    </div>
    <% if ( locals.footer ) { %>
      <div class="modal__footer">
      <p class="modal__small-text">
        <%- footer.text %>
      </p>
      <div class="modal__footer-delimiter">
        <div class="modal__footer-delimiter-line"></div>
        <p class="caption_4">or</p>
        <div class="modal__footer-delimiter-line"></div>
      </div>
      <p class="caption_3 text-center modal__footer-icons-title">Sign up with</p>
      <div class="modal__footer-icons">
        <a href="" class="modal__footer-icon">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.3346 8.99984C17.3346 4.39817 13.603 0.666504 9.0013 0.666504C4.39963 0.666504 0.667969 4.39817 0.667969 8.99984C0.667969 13.6015 4.39963 17.3332 9.0013 17.3332C9.05026 17.3332 9.09896 17.3322 9.14779 17.3313V10.8441H7.35742V8.7576H9.14779V7.22219C9.14779 5.44149 10.2348 4.4723 11.8233 4.4723C12.5839 4.4723 13.2378 4.52901 13.4284 4.55432V6.41538H12.3331C11.4689 6.41538 11.3016 6.8261 11.3016 7.42869V8.7576H13.3679L13.0985 10.8441H11.3016V17.0112C14.7848 16.0127 17.3346 12.8036 17.3346 8.99984Z" fill="#5D8CFF"/></svg>
        </a>
        <a href="" class="modal__footer-icon">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.0741 0.666608C11.3932 0.6702 11.7159 0.683093 12.4431 0.717603C13.3288 0.75665 13.9346 0.899864 14.4654 1.10502C15.019 1.31335 15.5238 1.64226 15.9407 2.06554C16.3673 2.48234 16.693 2.98371 16.9047 3.54372C17.1099 4.0713 17.2531 4.68015 17.2922 5.56576C17.3257 6.32768 17.3329 6.64463 17.3342 8.14469L17.3344 9.4564C17.333 11.3073 17.322 11.6105 17.2857 12.4359C17.2466 13.3216 17.1033 13.9272 16.8982 14.458C16.465 15.578 15.5792 16.4636 14.4589 16.8967C13.9313 17.1018 13.3224 17.245 12.4366 17.2841C11.5475 17.3233 11.2642 17.3329 9.00079 17.3329L8.76575 17.3329C6.7164 17.3322 6.42223 17.3219 5.56502 17.2841C4.6791 17.245 4.07344 17.1018 3.54258 16.8967C2.98895 16.6883 2.48416 16.3594 2.06729 15.9362C1.64392 15.5194 1.31507 15.018 1.10339 14.458C0.898195 13.9304 0.754825 13.3216 0.715771 12.4359C0.68369 11.7058 0.671352 11.3843 0.667969 10.0385L0.668073 7.9309C0.671666 6.61213 0.684561 6.28945 0.719078 5.56245C0.758133 4.67684 0.901375 4.0713 1.10657 3.54054C1.31507 2.98702 1.64392 2.48234 2.06729 2.06554C2.48416 1.63895 2.98564 1.31335 3.54589 1.10171C4.07344 0.896684 4.68241 0.753343 5.5682 0.714296C6.29852 0.682222 6.6201 0.669887 7.96615 0.666504L10.0741 0.666608ZM9.87959 2.18021H8.14263C6.69458 2.18305 6.39216 2.19508 5.64313 2.22834C4.83227 2.26421 4.38931 2.40094 4.09621 2.5149C3.73467 2.64832 3.409 2.85996 3.1388 3.13672C2.85868 3.40381 2.647 3.73259 2.51342 4.09406C2.39944 4.3871 2.26268 4.82667 2.22694 5.64067C2.19066 6.45161 2.17968 6.74056 2.17826 8.54431V9.47031C2.17968 11.2737 2.19066 11.5601 2.22694 12.3741C2.26268 13.1848 2.39944 13.6277 2.51342 13.9207C2.647 14.2821 2.85868 14.6077 3.1355 14.878C3.40252 15.1547 3.73149 15.3664 4.0929 15.4999C4.386 15.6139 4.82565 15.7506 5.63982 15.7863C6.38614 15.8197 6.69047 15.8317 8.13922 15.8345H9.87515C11.3233 15.8317 11.6256 15.8197 12.3746 15.7863C13.1856 15.7506 13.6284 15.6139 13.9215 15.4999C14.6478 15.2198 15.2242 14.6435 15.5043 13.9174C15.6183 13.6244 15.7551 13.1848 15.7909 12.3708C15.8256 11.5894 15.8372 11.2967 15.8394 9.67945V8.33511C15.8372 6.71726 15.8256 6.42211 15.7909 5.64067C15.7551 4.82985 15.6183 4.3871 15.5043 4.09406C15.3707 3.73259 15.1591 3.40699 14.8822 3.13672C14.6152 2.85996 14.2863 2.64832 13.9248 2.5149C13.6317 2.40094 13.1921 2.26421 12.3779 2.22834C11.6316 2.19508 11.3297 2.18305 9.87959 2.18021ZM9.00397 4.71919C11.3684 4.71919 13.2865 6.63693 13.2865 9.00085C13.2865 11.3648 11.3684 13.2825 9.00397 13.2825C6.63971 13.2825 4.72146 11.3648 4.72146 9.00085C4.72146 6.63693 6.63971 4.71919 9.00397 4.71919ZM9.00397 6.22344C7.47016 6.22344 6.22602 7.46722 6.22602 9.00085C6.22602 10.5345 7.47016 11.7783 9.00397 11.7783C10.5379 11.7783 11.7819 10.5345 11.7819 9.00085C11.7819 7.46722 10.5379 6.22344 9.00397 6.22344ZM13.4558 3.55033C14.008 3.55033 14.4557 3.99778 14.4557 4.5499C14.4557 5.1019 14.008 5.54948 13.4558 5.54948C12.9037 5.54948 12.456 5.1019 12.456 4.5499C12.456 3.99778 12.9037 3.55033 13.4558 3.55033Z" fill="#5D8CFF"/></svg>
        </a>
        <a href="" class="modal__footer-icon">
          <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.3346 1.91196C16.7148 2.17965 16.0544 2.35709 15.3659 2.44324C16.0742 2.02683 16.6148 1.37247 16.869 0.583753C16.2086 0.971445 15.4794 1.24529 14.7023 1.39811C14.0753 0.740675 13.1815 0.333496 12.2065 0.333496C10.3148 0.333496 8.79193 1.84529 8.79193 3.69862C8.79193 3.96529 8.81484 4.2217 8.87109 4.4658C6.03047 4.32939 3.51693 2.98888 1.82839 0.946829C1.53359 1.45042 1.36068 2.02683 1.36068 2.64734C1.36068 3.81247 1.97005 4.84529 2.87839 5.44324C2.32943 5.43298 1.79089 5.27606 1.33464 5.02888C1.33464 5.03914 1.33464 5.05247 1.33464 5.0658C1.33464 6.70068 2.51901 8.05862 4.07214 8.37144C3.79401 8.44632 3.49089 8.48221 3.1763 8.48221C2.95755 8.48221 2.73672 8.46991 2.52943 8.42478C2.97214 9.75708 4.22839 10.7366 5.72214 10.7684C4.55964 11.6638 3.08359 12.2032 1.48568 12.2032C1.20547 12.2032 0.936719 12.1909 0.667969 12.1571C2.18151 13.1181 3.97526 13.6668 5.90964 13.6668C12.1971 13.6668 15.6346 8.53862 15.6346 4.0935C15.6346 3.94478 15.6294 3.80119 15.6221 3.65862C16.3003 3.18478 16.8701 2.59298 17.3346 1.91196Z" fill="#5D8CFF"/></svg>
        </a>
      </div>
    </div>
    <% } %>  
  </div>
</div>
