<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blank page</title>

  <link rel='stylesheet' href='stylesheets/index.css' />
  <link rel='stylesheet' href='stylesheets/category-page.css' />

  <script src='javascripts/index.js'></script>
</head>
<body class="category-page">
  <div class="wrap">
    <%- include('partials/header', { 
      menuCol1Title1: data.menuCol1[0].title,
      menuCol1Items1: data.menuCol1[0].items,
      menuCol1Title2: data.menuCol1[1].title,
      menuCol1Items2: data.menuCol1[1].items,
      menuCol2Title1: data.menuCol2[0].title,
      menuCol2Items1: data.menuCol2[0].items,
      menuCol2Title2: data.menuCol2[1].title,
      menuCol2Items2: data.menuCol2[1].items,
      menuCol3Title1: data.menuCol3[0].title,
      menuCol3Items1: data.menuCol3[0].items,
      menuCol3Title2: data.menuCol3[1].title,
      menuCol3Items2: data.menuCol3[1].items,
      userImg: data.user[0].img,
      userFirstName: data.user[0].firstname,
      userSurname: data.user[0].surname,
      userEmail: data.user[0].email,
      articles: [
        [
          data.smallCards[0].imgUrl,
          data.smallCards[0].author,
          data.smallCards[0].date,
          data.smallCards[0].title, 
        ],
        [
          data.smallCards[1].imgUrl,
          data.smallCards[1].author,
          data.smallCards[1].date,
          data.smallCards[1].title, 
        ],
        [
          data.smallCards[2].imgUrl,
          data.smallCards[2].author,
          data.smallCards[2].date,
          data.smallCards[2].title, 
        ],
        [
          data.smallCards[3].imgUrl,
          data.smallCards[3].author,
          data.smallCards[3].date,
          data.smallCards[3].title, 
        ],
      ]
    }) %>
    <div class="outer">
      <div class="content">
        <%- include('partials/breadcrumbs', {   
          breadcrumbsItems: [
           { url: '/', text: 'Main', class: ''},
           { url: '', text: 'Creativity', class: 'active'},
          ],
         }); %>
        <div class="headline category-page__top-headline">
          <h1>Creativity</h1>
          <div class="noborder_controls">
            <div class="noborder_controls__prev" data-target="slider_2">
              <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.0009 5.99994H3.41087L6.71087 2.70994C6.89918 2.52164 7.00496 2.26624 7.00496 1.99994C7.00496 1.73364 6.89918 1.47825 6.71087 1.28994C6.52257 1.10164 6.26717 0.99585 6.00087 0.99585C5.73457 0.99585 5.47918 1.10164 5.29087 1.28994L0.290873 6.28994C0.199832 6.38505 0.128467 6.49719 0.0808729 6.61994C-0.0191451 6.8634 -0.0191451 7.13648 0.0808729 7.37994C0.128467 7.50269 0.199832 7.61484 0.290873 7.70994L5.29087 12.7099C5.38384 12.8037 5.49444 12.8781 5.6163 12.9288C5.73816 12.9796 5.86886 13.0057 6.00087 13.0057C6.13288 13.0057 6.26359 12.9796 6.38545 12.9288C6.50731 12.8781 6.61791 12.8037 6.71087 12.7099C6.8046 12.617 6.879 12.5064 6.92976 12.3845C6.98053 12.2627 7.00667 12.132 7.00667 11.9999C7.00667 11.8679 6.98053 11.7372 6.92976 11.6154C6.879 11.4935 6.8046 11.3829 6.71087 11.2899L3.41087 7.99994H11.0009C11.2661 7.99994 11.5204 7.89458 11.708 7.70705C11.8955 7.51951 12.0009 7.26516 12.0009 6.99994C12.0009 6.73472 11.8955 6.48037 11.708 6.29283C11.5204 6.1053 11.2661 5.99994 11.0009 5.99994Z" fill="black"/></svg>
            </div>
            <div class="noborder_controls__next" data-target="slider_2">
              <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.92 6.61994C11.8724 6.49719 11.801 6.38505 11.71 6.28994L6.71 1.28994C6.61676 1.1967 6.50607 1.12274 6.38425 1.07228C6.26243 1.02182 6.13186 0.99585 6 0.99585C5.7337 0.99585 5.4783 1.10164 5.29 1.28994C5.19676 1.38318 5.1228 1.49387 5.07234 1.61569C5.02188 1.73751 4.99591 1.86808 4.99591 1.99994C4.99591 2.26624 5.1017 2.52164 5.29 2.70994L8.59 5.99994H1C0.734784 5.99994 0.48043 6.1053 0.292893 6.29283C0.105357 6.48037 0 6.73472 0 6.99994C0 7.26516 0.105357 7.51951 0.292893 7.70705C0.48043 7.89458 0.734784 7.99994 1 7.99994H8.59L5.29 11.2899C5.19627 11.3829 5.12188 11.4935 5.07111 11.6154C5.02034 11.7372 4.9942 11.8679 4.9942 11.9999C4.9942 12.132 5.02034 12.2627 5.07111 12.3845C5.12188 12.5064 5.19627 12.617 5.29 12.7099C5.38296 12.8037 5.49356 12.8781 5.61542 12.9288C5.73728 12.9796 5.86799 13.0057 6 13.0057C6.13201 13.0057 6.26272 12.9796 6.38458 12.9288C6.50644 12.8781 6.61704 12.8037 6.71 12.7099L11.71 7.70994C11.801 7.61484 11.8724 7.50269 11.92 7.37994C12.02 7.13648 12.02 6.8634 11.92 6.61994Z" fill="black"/></svg>
            </div>
          </div>
        </div>
        <div class="slider-container">
          <div class="responsive_big" id="slider_2">
            <% data.bigCards.forEach(function(gigCard){ %>
              <div>
                <%- include('partials/card_slide_big', { 
                  imgUrl: gigCard.imgUrl,
                  author: gigCard.author,
                  date: gigCard.date,
                  title: gigCard.title, 
                  text: gigCard.text,
                  categories: gigCard.categories,
                  ttr: gigCard.ttr,
                  views: gigCard.views
                }); %>
              </div>
            <% }); %>
          </div>
        </div>
        <div class="flex-container" id="cat_card_container">
          <% data.smallCards.forEach(function(smallCard, cardIndex){ %>
            <%- include('partials/card_small', {
              index: cardIndex,
              show: 6,
              imgUrl: smallCard.imgUrl,
              author: smallCard.author,
              date: smallCard.date,
              title: smallCard.title, 
              text: smallCard.text,
              categories: smallCard.categories,
              ttr: smallCard.ttr,
              views: smallCard.views
            }); %>
          <% }); %>
        </div> 
        <div class="show-more-block">
          <a class="rounded-button show-more-trigger" data-target="#cat_card_container">Show more</a>
        </div>
        <div class="headline">
          <h2>You might also like</h2>
          <a href="featured.html" class="rounded-button_icon-right">
            Explore all
            <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.92 6.62019C11.8724 6.49743 11.801 6.38529 11.71 6.29019L6.71 1.29019C6.61676 1.19695 6.50607 1.12299 6.38425 1.07253C6.26243 1.02207 6.13186 0.996094 6 0.996094C5.7337 0.996094 5.4783 1.10188 5.29 1.29019C5.19676 1.38342 5.1228 1.49411 5.07234 1.61594C5.02188 1.73776 4.99591 1.86833 4.99591 2.00019C4.99591 2.26649 5.1017 2.52188 5.29 2.71019L8.59 6.00019H1C0.734784 6.00019 0.48043 6.10554 0.292893 6.29308C0.105357 6.48062 0 6.73497 0 7.00019C0 7.2654 0.105357 7.51976 0.292893 7.70729C0.48043 7.89483 0.734784 8.00019 1 8.00019H8.59L5.29 11.2902C5.19627 11.3831 5.12188 11.4937 5.07111 11.6156C5.02034 11.7375 4.9942 11.8682 4.9942 12.0002C4.9942 12.1322 5.02034 12.2629 5.07111 12.3848C5.12188 12.5066 5.19627 12.6172 5.29 12.7102C5.38296 12.8039 5.49356 12.8783 5.61542 12.9291C5.73728 12.9798 5.86799 13.006 6 13.006C6.13201 13.006 6.26272 12.9798 6.38458 12.9291C6.50644 12.8783 6.61704 12.8039 6.71 12.7102L11.71 7.71019C11.801 7.61508 11.8724 7.50294 11.92 7.38019C12.02 7.13672 12.02 6.86365 11.92 6.62019Z" fill="black"/></svg>              
          </a>
        </div>
        <%- include('partials/card_medium', { 
          imgUrl: data.mediumCards[4].imgUrl,
          author: data.mediumCards[4].author,
          date: data.mediumCards[4].date,
          title: data.mediumCards[4].title, 
          text: data.mediumCards[4].text,
          categories: data.mediumCards[4].categories,
          ttr: data.mediumCards[4].ttr,
          views: data.mediumCards[4].views
        }); %>
        <%- include('partials/card_medium', { 
          imgUrl: data.mediumCards[6].imgUrl,
          author: data.mediumCards[6].author,
          date: data.mediumCards[6].date,
          title: data.mediumCards[6].title, 
          text: data.mediumCards[6].text,
          categories: data.mediumCards[6].categories,
          ttr: data.mediumCards[6].ttr,
          views: data.mediumCards[6].views
        }); %>
        <%- include('partials/card_medium', { 
          imgUrl: data.mediumCards[7].imgUrl,
          author: data.mediumCards[7].author,
          date: data.mediumCards[7].date,
          title: data.mediumCards[7].title, 
          text: data.mediumCards[7].text,
          categories: data.mediumCards[7].categories,
          ttr: data.mediumCards[7].ttr,
          views: data.mediumCards[7].views
        }); %>
      </div>
    </div>
    <%- include('partials/subscribe_block') %>
    <%- include('partials/footer') %>
  </div>
  <%- include('partials/modal', { 
    id: 'modal_1',
    heading: {
      name: 'Sign In',
      text: 'Don’t have an account?',
      link: {
        text: 'Sign Up',
        target: '#modal_2',
      },
    },
    form: {
      id: 'sign-in-form',
      inputs : [
        { 
          class: 'input',
          type: 'email', 
          name: 'userEmail',
        },
        {
          class: 'input_icon-right',
          type: 'password',
          name: 'userPassword',
        },
        {
          class: 'input_button',
          type: 'submit',
          value: 'Sign In',
        },
      ],
    },
    footer: {
      text: '<a href="#" data-target="#modal_3" data-toggle="modal">Lost your password?</a>',
    }
  }); %>
  <%- include('partials/modal', { 
    id: 'modal_2',
    heading: {
      name: 'Sign Up',
      text: 'Already have an account?',
      link: {
        text: 'Sign In',
        target: '#modal_1',
      },
    },
    form: {
      id: 'sign-up-form',
      inputs : [
        { 
          class: 'input',
          type: 'text', 
          name: 'userName',
        },
        { 
          class: 'input',
          type: 'email', 
          name: 'userEmail',
        },
        {
          class: 'input_icon-right',
          type: 'password',
          name: 'userPassword',
        },
        {
          class: 'input_icon-right',
          type: 'password',
          name: 'userPasswordConfirm',
        },
        {
          class: 'input_button',
          type: 'submit',
          value: 'Sign Up',
        },
      ],
    },
    footer: {
      text: 'By signing in to your account you agree to our <a href="terms-and-conditions.html">Terms</a> & <a href="terms-and-conditions.html">Conditions</a> <a href="terms-and-conditions.html"></a>and <a href="terms-and-conditions.html">Privacy Policy</a>',
    }
  }); %>
  <%- include('partials/modal', { 
    id: 'modal_3',
    heading: {
      name: 'Restore password',
      text: '',
      link: {
        text: 'Sign In',
        target: '#modal_1',
      },
    },
    form: {
      id: 'restore-password-form',
      inputs : [
        { 
          class: 'input',
          type: 'email', 
          name: 'userEmail',
        },
        {
          class: 'input_button',
          type: 'submit',
          value: 'Apply',
        },
      ],
    },
  }); %>
  <%- include('partials/modal', { 
    id: 'modal_4',
    greetings : {
      title: 'Welcome,Vitaly!',
      text: 'Add an photo and let others get to know you better! You can do it later',
      button: {
        class: 'input_button',
        value: 'Finish',
      },
    },
  }); %>  
</body>
</html>
