<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Featured</title>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='stylesheets/index.css' />
  <link rel='stylesheet' href='stylesheets/featured-page.css' />

  <script src='javascripts/index.js'></script>
</head>
<body class="featured-page">
  <div class="wrap">
    <%- include('partials/header', { 
      menuCol1Title1: data.menuCol1[0].title,
      menuCol1Items1: data.menuCol1[0].items,
      menuCol1Title2: data.menuCol1[1].title,
      menuCol1Items2: data.menuCol1[1].items,
      menuCol2Title1: data.menuCol2[0].title,
      menuCol2Items1: data.menuCol2[0].items,
      menuCol2Title2: data.menuCol2[1].title,
      menuCol2Items2: data.menuCol2[1].items,
      menuCol3Title1: data.menuCol3[0].title,
      menuCol3Items1: data.menuCol3[0].items,
      menuCol3Title2: data.menuCol3[1].title,
      menuCol3Items2: data.menuCol3[1].items,
      userImg: data.user[0].img,
      userFirstName: data.user[0].firstname,
      userSurname: data.user[0].surname,
      userEmail: data.user[0].email,
      articles: [
        [
          data.smallCards[0].imgUrl,
          data.smallCards[0].author,
          data.smallCards[0].date,
          data.smallCards[0].title, 
        ],
        [
          data.smallCards[1].imgUrl,
          data.smallCards[1].author,
          data.smallCards[1].date,
          data.smallCards[1].title, 
        ],
        [
          data.smallCards[2].imgUrl,
          data.smallCards[2].author,
          data.smallCards[2].date,
          data.smallCards[2].title, 
        ],
        [
          data.smallCards[3].imgUrl,
          data.smallCards[3].author,
          data.smallCards[3].date,
          data.smallCards[3].title, 
        ],
      ]
    }) %>
    <div class="outer">
      <div class="content">
        <%- include('partials/breadcrumbs', { 
          breadcrumbsItems: [
           { url: '/', text: 'Main', class: ''},
           { url: '', text: 'Featured', class: 'active'},
          ],
         }); %>
          <div class="headline">
            <h1>Your reading list</h1>
          </div>
         <div class="flex-container">
          <% for(var i=1; i < 6; i++) { %>
            <%- include('partials/card_small', { 
              imgUrl: data.smallCards[i].imgUrl,
              author: data.smallCards[i].author,
              date: data.smallCards[i].date,
              title: data.smallCards[i].title, 
              text: data.smallCards[i].text,
              categories: data.smallCards[i].categories,
              ttr: data.smallCards[i].ttr,
              views: data.smallCards[i].views,
            }); %>
          <% } %>
        </div>
      </div>
    </div>
    <%- include('partials/subscribe_block') %>
    <%- include('partials/footer') %>
  </div>
</body>
</html>
