<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpine</title>
    <link rel='stylesheet' href='stylesheets/index.css' />
    <link rel='stylesheet' href='stylesheets/main-page.css' />

    <script src='javascripts/index.js'></script>
  </head>
  <body class="main-page">
    <div class="wrap">
      <%- include('partials/header', { 
        menuCol1Title1: data.menuCol1[0].title,
        menuCol1Items1: data.menuCol1[0].items,
        menuCol1Title2: data.menuCol1[1].title,
        menuCol1Items2: data.menuCol1[1].items,
        menuCol2Title1: data.menuCol2[0].title,
        menuCol2Items1: data.menuCol2[0].items,
        menuCol2Title2: data.menuCol2[1].title,
        menuCol2Items2: data.menuCol2[1].items,
        menuCol3Title1: data.menuCol3[0].title,
        menuCol3Items1: data.menuCol3[0].items,
        menuCol3Title2: data.menuCol3[1].title,
        menuCol3Items2: data.menuCol3[1].items,
        userImg: data.user[0].img,
        userFirstName: data.user[0].firstname,
        userSurname: data.user[0].surname,
        userEmail: data.user[0].email,
        articles: [
          [
            data.smallCards[0].imgUrl,
            data.smallCards[0].author,
            data.smallCards[0].date,
            data.smallCards[0].title, 
          ],
          [
            data.smallCards[1].imgUrl,
            data.smallCards[1].author,
            data.smallCards[1].date,
            data.smallCards[1].title, 
          ],
          [
            data.smallCards[2].imgUrl,
            data.smallCards[2].author,
            data.smallCards[2].date,
            data.smallCards[2].title, 
          ],
          [
            data.smallCards[3].imgUrl,
            data.smallCards[3].author,
            data.smallCards[3].date,
            data.smallCards[3].title, 
          ],
        ],
      }) %>
      <div class="outer">
        <div class="content">
          <% data.heroCards.forEach(function(heroCard){ %>
            <%- include('partials/card_hero', { 
              imgUrl: heroCard.imgUrl,
              author: heroCard.author,
              date: heroCard.date,
              title: heroCard.title, 
              text: heroCard.text,
              categories: heroCard.categories,
              ttr: heroCard.ttr,
              views: heroCard.views,
              link: heroCard.link,
              authorLink: heroCard.authorLink,
            }); %>
          <% }); %>
          <div class="flex-container">
            <% for(var i = 0; i < 3; i++) { %>
              <%- include('partials/card_small', { 
                imgUrl: data.smallCards[i].imgUrl,
                author: data.smallCards[i].author,
                date: data.smallCards[i].date,
                title: data.smallCards[i].title, 
                text: data.smallCards[i].text,
                categories: data.smallCards[i].categories,
                ttr: data.smallCards[i].ttr,
                views: data.smallCards[i].views
              }); %>
            <% }; %>
          </div>
          <div class="headline">
            <h2>Popular</h2>
            <%- include('partials/rounded-button_controls', { dataTarget: 'slider_2' }) %>
          </div>
          <div class="slider-container">
            <div class="responsive_big" id="slider_2">
              <% data.bigCards.forEach(function(bigCard){ %>
                <div>
                  <%- include('partials/card_slide_big', { 
                    imgUrl: bigCard.imgUrl,
                    author: bigCard.author,
                    date: bigCard.date,
                    title: bigCard.title, 
                    text: bigCard.text,
                    categories: bigCard.categories,
                    ttr: bigCard.ttr,
                    views: bigCard.views
                  }); %>
                </div>
              <% }); %>
            </div>
          </div>
          <div class="headline">
            <h2>For you</h2>
            <a href="category.html" class="rounded-button_icon-right">
              Explore all
              <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.92 6.62019C11.8724 6.49743 11.801 6.38529 11.71 6.29019L6.71 1.29019C6.61676 1.19695 6.50607 1.12299 6.38425 1.07253C6.26243 1.02207 6.13186 0.996094 6 0.996094C5.7337 0.996094 5.4783 1.10188 5.29 1.29019C5.19676 1.38342 5.1228 1.49411 5.07234 1.61594C5.02188 1.73776 4.99591 1.86833 4.99591 2.00019C4.99591 2.26649 5.1017 2.52188 5.29 2.71019L8.59 6.00019H1C0.734784 6.00019 0.48043 6.10554 0.292893 6.29308C0.105357 6.48062 0 6.73497 0 7.00019C0 7.2654 0.105357 7.51976 0.292893 7.70729C0.48043 7.89483 0.734784 8.00019 1 8.00019H8.59L5.29 11.2902C5.19627 11.3831 5.12188 11.4937 5.07111 11.6156C5.02034 11.7375 4.9942 11.8682 4.9942 12.0002C4.9942 12.1322 5.02034 12.2629 5.07111 12.3848C5.12188 12.5066 5.19627 12.6172 5.29 12.7102C5.38296 12.8039 5.49356 12.8783 5.61542 12.9291C5.73728 12.9798 5.86799 13.006 6 13.006C6.13201 13.006 6.26272 12.9798 6.38458 12.9291C6.50644 12.8783 6.61704 12.8039 6.71 12.7102L11.71 7.71019C11.801 7.61508 11.8724 7.50294 11.92 7.38019C12.02 7.13672 12.02 6.86365 11.92 6.62019Z" fill="black"/></svg>              
            </a>
          </div>
          <div id="index_card_container">
            <% data.mediumCards.forEach(function(mediumCard, cardIndex){ %>
              <%- include('partials/card_medium', { 
                index: cardIndex,
                show: 3,
                imgUrl: mediumCard.imgUrl,
                author: mediumCard.author,
                date: mediumCard.date,
                title: mediumCard.title, 
                text: mediumCard.text,
                categories: mediumCard.categories,
                ttr: mediumCard.ttr,
                views: mediumCard.views
              }); %>
            <% }); %>
          </div>
          <div class="show-more-block">
            <a class="rounded-button show-more-trigger" data-target="#index_card_container">Show more</a>
          </div>
        </div>
      </div>
      <%- include('partials/subscribe_block') %>
      <%- include('partials/footer') %>
    </div>
    <%- include('partials/modal', { 
      id: 'modal_1',
      heading: {
        name: 'Sign In',
        text: 'Don’t have an account?',
        link: {
          text: 'Sign Up',
          target: '#modal_2',
        },
      },
      form: {
        id: 'sign-in-form',
        inputs : [
          { 
            class: 'input',
            type: 'email', 
            name: 'userEmail',
          },
          {
            class: 'input_icon-right',
            type: 'password',
            name: 'userPassword',
          },
          {
            class: 'input_button',
            type: 'submit',
            value: 'Sign In',
          },
        ],
      },
      footer: {
        text: '<a href="#" data-target="#modal_3" data-toggle="modal">Lost your password?</a>',
      }
    }); %>
    <%- include('partials/modal', { 
      id: 'modal_2',
      heading: {
        name: 'Sign Up',
        text: 'Already have an account?',
        link: {
          text: 'Sign In',
          target: '#modal_1',
        },
      },
      form: {
        id: 'sign-up-form',
        inputs : [
          { 
            class: 'input',
            type: 'text', 
            name: 'userName',
          },
          { 
            class: 'input',
            type: 'email', 
            name: 'userEmail',
          },
          {
            class: 'input_icon-right',
            type: 'password',
            name: 'userPassword',
          },
          {
            class: 'input_icon-right',
            type: 'password',
            name: 'userPasswordConfirm',
          },
          {
            class: 'input_button',
            type: 'submit',
            value: 'Sign Up',
          },
        ],
      },
      footer: {
        text: 'By signing in to your account you agree to our <a href="terms-and-conditions.html">Terms</a> & <a href="terms-and-conditions.html">Conditions</a> <a href="terms-and-conditions.html"></a>and <a href="terms-and-conditions.html">Privacy Policy</a>',
      }
    }); %>
    <%- include('partials/modal', { 
      id: 'modal_3',
      heading: {
        name: 'Restore password',
        text: '',
        link: {
          text: 'Sign In',
          target: '#modal_1',
        },
      },
      form: {
        id: 'restore-password-form',
        inputs : [
          { 
            class: 'input',
            type: 'email', 
            name: 'userEmail',
          },
          {
            class: 'input_button',
            type: 'submit',
            value: 'Apply',
          },
        ],
      },
    }); %>
    <%- include('partials/modal', { 
      id: 'modal_4',
      greetings : {
        title: 'Welcome,Vitaly!',
        text: 'Add an photo and let others get to know you better! You can do it later',
        button: {
          class: 'input_button',
          value: 'Finish',
        },
      },
    }); %>  
  </body>
</html>
