<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='stylesheets/index.css' />

    <!-- <script src='javascripts/menu_main.js'></script>
    <script src='javascripts/slick.min.js'></script>
    <script src='javascripts/slider.js'></script> -->
    <script src='javascripts/index.js'></script>
  </head>
  <body>
    <div class="wrap">
      <%- include('partials/header', { 
        menuCol1Title1: data.menuCol1[0].title,
        menuCol1Items1: data.menuCol1[0].items,
        menuCol1Title2: data.menuCol1[1].title,
        menuCol1Items2: data.menuCol1[1].items,
        menuCol2Title1: data.menuCol2[0].title,
        menuCol2Items1: data.menuCol2[0].items,
        menuCol2Title2: data.menuCol2[1].title,
        menuCol2Items2: data.menuCol2[1].items,
        menuCol3Title1: data.menuCol3[0].title,
        menuCol3Items1: data.menuCol3[0].items,
        menuCol3Title2: data.menuCol3[1].title,
        menuCol3Items2: data.menuCol3[1].items,
        userImg: data.user[0].img,
        userFirstName: data.user[0].firstname,
        userSurname: data.user[0].surname,
        userEmail: data.user[0].email,
        articles: [
          [
            data.smallCards[0].imgUrl,
            data.smallCards[0].author,
            data.smallCards[0].date,
            data.smallCards[0].title, 
          ],
          [
            data.smallCards[1].imgUrl,
            data.smallCards[1].author,
            data.smallCards[1].date,
            data.smallCards[1].title, 
          ],
          [
            data.smallCards[2].imgUrl,
            data.smallCards[2].author,
            data.smallCards[2].date,
            data.smallCards[2].title, 
          ],
          [
            data.smallCards[3].imgUrl,
            data.smallCards[3].author,
            data.smallCards[3].date,
            data.smallCards[3].title, 
          ],
        ],
      }) %>
      <div class="content">
        <% data.heroCards.forEach(function(heroCard){ %>
          <%- include('partials/card_hero', { 
            imgUrl: heroCard.imgUrl,
            author: heroCard.author,
            date: heroCard.date,
            title: heroCard.title, 
            text: heroCard.text,
            categories: heroCard.categories,
            ttr: heroCard.ttr,
            views: heroCard.views
          }); %>
        <% }); %>
        <div class="flex-container">
          <% data.smallCards.forEach(function(smallCard){ %>
            <%- include('partials/card_small', { 
              imgUrl: smallCard.imgUrl,
              author: smallCard.author,
              date: smallCard.date,
              title: smallCard.title, 
              text: smallCard.text,
              categories: smallCard.categories,
              ttr: smallCard.ttr,
              views: smallCard.views
            }); %>
          <% }); %>
        </div> 
        <% data.mediumCards.forEach(function(mediumCard){ %>
          <%- include('partials/card_medium', { 
            imgUrl: mediumCard.imgUrl,
            author: mediumCard.author,
            date: mediumCard.date,
            title: mediumCard.title, 
            text: mediumCard.text,
            categories: mediumCard.categories,
            ttr: mediumCard.ttr,
            views: mediumCard.views
          }); %>
        <% }); %>
        <div class="flex-container">
          <% data.bigCards.forEach(function(bigCard){ %>
            <%- include('partials/card_big', { 
              imgUrl: bigCard.imgUrl,
              author: bigCard.author,
              date: bigCard.date,
              title: bigCard.title, 
              text: bigCard.text,
              categories: bigCard.categories,
              ttr: bigCard.ttr,
              views: bigCard.views
            }); %>
          <% }); %>
        </div> 
        <h1><%= data.title %></h1>
        <h2><%= data.text %></h1>
        <h3><%= data.title %></h1>
        <h4><%= data.text %></h1>
        <h5><%= data.user[0].img %></h1>
        <p>Welcome to <%= data.title %></p>
        <p>Some new</p>
        <%- include('partials/rounded-button_controls', { dataTarget: 'slider_1' }) %>
        <div class="slider-container">
          <div class="responsive_small" id="slider_1">
            <% data.smallCards.forEach(function(smallCard){ %>
              <div>
                <%- include('partials/card_slide', { 
                  imgUrl: smallCard.imgUrl,
                  author: smallCard.author,
                  date: smallCard.date,
                  title: smallCard.title, 
                  text: smallCard.text,
                  categories: smallCard.categories,
                  ttr: smallCard.ttr,
                  views: smallCard.views
                }); %>
              </div>
            <% }); %>
          </div>
        </div>
        <%- include('partials/rounded-button_controls', { dataTarget: 'slider_2' }) %>
        <div class="slider-container">
          <div class="responsive_big" id="slider_2">
            <% data.mediumCards.forEach(function(mediumCard){ %>
              <div>
                <%- include('partials/card_slide', { 
                  imgUrl: mediumCard.imgUrl,
                  author: mediumCard.author,
                  date: mediumCard.date,
                  title: mediumCard.title, 
                  text: mediumCard.text,
                  categories: mediumCard.categories,
                  ttr: mediumCard.ttr,
                  views: mediumCard.views
                }); %>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
