<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='stylesheets/styles-reset.css' />
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel='stylesheet' href='stylesheets/footer.css' />
    <link rel='stylesheet' href='stylesheets/card_hero.css' />
    <link rel='stylesheet' href='stylesheets/card_small.css' />
    <link rel='stylesheet' href='stylesheets/card_medium.css' />
    <link rel='stylesheet' href='stylesheets/carousel.css' />
  </head>
  <body>
    <div class="wrap">
      <div class="content">
        <% data.heroCards.forEach(function(heroCard){ %>
          <%- include('partials/card_hero', { 
            imgUrl: heroCard.imgUrl,
            author: heroCard.author,
            date: heroCard.date,
            title: heroCard.title, 
            text: heroCard.text,
            categories: heroCard.categories,
            ttr: heroCard.ttr,
            views: heroCard.views
          }); %>
        <% }); %>
        <div class="flex-container">
          <% data.smallCards.forEach(function(smallCard){ %>
            <%- include('partials/card_small', { 
              imgUrl: smallCard.imgUrl,
              author: smallCard.author,
              date: smallCard.date,
              title: smallCard.title, 
              text: smallCard.text,
              categories: smallCard.categories,
              ttr: smallCard.ttr,
              views: smallCard.views
            }); %>
          <% }); %>
        </div> 
        <% data.mediumCards.forEach(function(mediumCard){ %>
          <%- include('partials/card_medium', { 
            imgUrl: mediumCard.imgUrl,
            author: mediumCard.author,
            date: mediumCard.date,
            title: mediumCard.title, 
            text: mediumCard.text,
            categories: mediumCard.categories,
            ttr: mediumCard.ttr,
            views: mediumCard.views
          }); %>
        <% }); %>
        <div class="carousel">
          <div class="carousel__inner">
            <% data.smallCards.forEach(function(smallCard){ %>
              <%- include('partials/card_small', { 
                imgUrl: smallCard.imgUrl,
                author: smallCard.author,
                date: smallCard.date,
                title: smallCard.title, 
                text: smallCard.text,
                categories: smallCard.categories,
                ttr: smallCard.ttr,
                views: smallCard.views
              }); %>
            <% }); %>
          </div>
        </div>
        <h1><%= data.title %></h1>
        <h2><%= data.text %></h1>
        <h3><%= data.title %></h1>
        <h4><%= data.text %></h1>
        <h5><%= data.title %></h1>
        <p>Welcome to <%= data.title %></p>
        <p>Some new</p>
      </div>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
