<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post</title>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='stylesheets/index.css' />
  <link rel='stylesheet' href='stylesheets/single-post.css' />

  <script src='javascripts/index.js'></script>
</head>
<body class="single-post">
  <div class="wrap">
    <%- include('partials/header', { 
      menuCol1Title1: data.menuCol1[0].title,
      menuCol1Items1: data.menuCol1[0].items,
      menuCol1Title2: data.menuCol1[1].title,
      menuCol1Items2: data.menuCol1[1].items,
      menuCol2Title1: data.menuCol2[0].title,
      menuCol2Items1: data.menuCol2[0].items,
      menuCol2Title2: data.menuCol2[1].title,
      menuCol2Items2: data.menuCol2[1].items,
      menuCol3Title1: data.menuCol3[0].title,
      menuCol3Items1: data.menuCol3[0].items,
      menuCol3Title2: data.menuCol3[1].title,
      menuCol3Items2: data.menuCol3[1].items,
      userImg: data.user[0].img,
      userFirstName: data.user[0].firstname,
      userSurname: data.user[0].surname,
      userEmail: data.user[0].email,
      articles: [
        [
          data.smallCards[0].imgUrl,
          data.smallCards[0].author,
          data.smallCards[0].date,
          data.smallCards[0].title, 
        ],
        [
          data.smallCards[1].imgUrl,
          data.smallCards[1].author,
          data.smallCards[1].date,
          data.smallCards[1].title, 
        ],
        [
          data.smallCards[2].imgUrl,
          data.smallCards[2].author,
          data.smallCards[2].date,
          data.smallCards[2].title, 
        ],
        [
          data.smallCards[3].imgUrl,
          data.smallCards[3].author,
          data.smallCards[3].date,
          data.smallCards[3].title, 
        ],
      ]
    }) %>
    <div class="content">
      <div class="single-post__header">
        <div class="single-post__header-left">

        </div>
        <div class="single-post__header-center">
          <div class="single-post__author caption_2">Jane Cooper</div>
          <h2 class="text-center single-post__title">You Don’t Need a Compass to Tell You Where You Are</h2>
          <div class="single-post__description body_large ">Peter yanked the curtain back, eager to see the dawn. Grace pulled the covers over her head.</div>
        </div>
        <div class="single-post__header-right">
          
        </div>
      </div>
    </div>
    <div class="content__thin">
      <div class="article-content">
        <div class="img_cropped img_round-borders img_bottom-margin">
          <picture>
            <% var bigUrl = data.heroCards[0].imgUrl.split('.').join('@2.') %>
            <source srcset="<%= bigUrl %> 2x, <%= data.heroCards[0].imgUrl %> 1x" />
            <img src="<%= data.heroCards[0].imgUrl %>" alt="<%= data.heroCards[0].title %>">
          </picture>
        </div>
        <p>I know something about you without knowing you. I bet you spend A LOT of time in your head.</p>
        <p>You know, thinking, worrying, stressing, freaking out — call it whatever you want. I call it a preoccupied mind. And with what?</p>
        <p class="m-b-50">99% of your thoughts are useless. William James put it best:</p>
        <blockquote>
          “A great many people think they are thinking when they are merely rearranging their prejudices.”
        </blockquote>
        <p>All my life I’ve been obsessed with practical things. Practical philosophy, practical knowledge, practical books, practical work, and practical advice.</p>
        <p>That idea comes from Pragmatism, a philosophical tradition that started in the 19th century in America. Charles Sanders Peirce, who was a Harvard professor, is considered as the “father of Pragmatism.”</p>
        <p>But it was William James, a trained physician turned philosopher, who really defined the philosophy:</p>
        <ul class="m-b-30">
          <li>“I wonder what my boss thinks?”</li>
          <li>“What happens if I screw up and lose my job?”</li>
          <li>“Does she love me?”</li>
          <li>“I think he doesn’t care about me.”</li>
          <li>“I just keep failing.”</li>
          <li>“Why does my life suck?”</li>
        </ul>
        <div class="img_cropped img_round-borders">
          <picture>
            <% var bigUrl = data.bigCards[2].imgUrl.split('.').join('@2.') %>
            <source srcset="<%= bigUrl %> 2x, <%= data.bigCards[2].imgUrl %> 1x" />
            <img src="<%= data.bigCards[2].imgUrl %>" alt="<%= data.bigCards[2].title %>">
          </picture>
        </div>
        <div class="img__caption">If you can change your mind, you can change your life.</div>
        <p>All my life I’ve been obsessed with practical things. Practical philosophy, practical knowledge, practical books, practical work, and practical advice:</p>
        <h5>I just have one question for you: What’s the practical use of your thoughts?</h5>
        <p>Also, you’re probably thinking so much that you’re missing out of life. Did you notice the sunshine this morning when you woke up? Or the raindrops? Did you notice the smell of your coffee? Did you feel the texture of your cereals?</p>
        <blockquote>“Try to internalize knowledge and think about how you can use that knowledge to improve your life, career, work, relationships, etc.”
          <footer>— Jane Cooper</footer>
        </blockquote>
        <p>Yes? I’m waiting. Still no answer? Exactly.</p>
        <p>Thoughts have no use. <a href="#">99% of them that is.</a></p>
        <p>Which thoughts are useful?</p>
        <ol>
          <li>Thinking about how you can solve problems. A problem is just an unanswered question. Put your brain to use and think about how you can solve problems. There are a lot of those on this earth.</li>
          <li>Understanding knowledge. That mean this: Try to internalize knowledge and think about how you can use that knowledge to improve your life, career, work, relationships, etc.</li>
        </ol>
        <div class="article-content__footer">
          <div class="article-content__footer-top">
            <div class="article-content__tags">
              <a href="#" class="tag_accent_1">Fiction</a>
              <a href="#" class="tag_accent_2">Relationships</a>
              <a href="#" class="tag_accent_4">Hiking</a>
              <a href="#" class="tag">Tag</a>
            </div>
            <div class="article-content__date">
              <p class="caption_3">14 July, 2020</p>
            </div>
          </div>
          <div class="article-content__footer-bottom">
            <div class="article-content__author-block">
              <p class="caption_3">Author</p> 
              <picture>
                <% var bigUrl = data.user[1].img.split('.').join('@2.') %>
                <source srcset="<%= bigUrl %> 2x, <%= data.user[1].img %> 1x" />
                <img class="avatar_small" src="<%= data.user[1].img %>" alt="<%= data.user[1].firstname %>">
              </picture>
            </div>
            
          </div>
        </div>
      </div>
      
      <%- include('partials/comments', { 
        comments: [
          { 
            avatar: 'images/users/Leslie_Alexander.jpg', 
            author: 'Tom Black', 
            date: 'Today',
            content: 'What we choose not to say is just as important as what we decide to say', 
            initials: 'TB',
            color: '_accent_1',
          },
          { 
            avatar: '', 
            author: 'Devon Lane', 
            date: '14 July, 2020',
            content: 'What we choose not to say is just as important as what we decide to say',
            initials: 'DL',
            color: '_accent_2',
          },
        ],
       }); %>
    </div>
    <div class="content">
      <h2>Read next</h2>
      <% data.mediumCards.forEach(function(mediumCard){ %>
        <%- include('partials/card_medium', { 
          imgUrl: mediumCard.imgUrl,
          author: mediumCard.author,
          date: mediumCard.date,
          title: mediumCard.title, 
          text: mediumCard.text,
          categories: mediumCard.categories,
          ttr: mediumCard.ttr,
          views: mediumCard.views
        }); %>
      <% }); %>
    </div>
    <%- include('partials/subscribe_block') %>
    <%- include('partials/footer') %>
  </div>
</body>
</html>
