<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms & Conditions</title>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='stylesheets/index.css' />
  <link rel='stylesheet' href='stylesheets/terms-and-conditions-page.css' />

  <script src='javascripts/index.js'></script>
</head>
<body class="terms-and-conditions-page">
  <div class="wrap">
    <%- include('partials/header', { 
      menuCol1Title1: data.menuCol1[0].title,
      menuCol1Items1: data.menuCol1[0].items,
      menuCol1Title2: data.menuCol1[1].title,
      menuCol1Items2: data.menuCol1[1].items,
      menuCol2Title1: data.menuCol2[0].title,
      menuCol2Items1: data.menuCol2[0].items,
      menuCol2Title2: data.menuCol2[1].title,
      menuCol2Items2: data.menuCol2[1].items,
      menuCol3Title1: data.menuCol3[0].title,
      menuCol3Items1: data.menuCol3[0].items,
      menuCol3Title2: data.menuCol3[1].title,
      menuCol3Items2: data.menuCol3[1].items,
      userImg: data.user[0].img,
      userFirstName: data.user[0].firstname,
      userSurname: data.user[0].surname,
      userEmail: data.user[0].email,
      articles: [
        [
          data.smallCards[0].imgUrl,
          data.smallCards[0].author,
          data.smallCards[0].date,
          data.smallCards[0].title, 
        ],
        [
          data.smallCards[1].imgUrl,
          data.smallCards[1].author,
          data.smallCards[1].date,
          data.smallCards[1].title, 
        ],
        [
          data.smallCards[2].imgUrl,
          data.smallCards[2].author,
          data.smallCards[2].date,
          data.smallCards[2].title, 
        ],
        [
          data.smallCards[3].imgUrl,
          data.smallCards[3].author,
          data.smallCards[3].date,
          data.smallCards[3].title, 
        ],
      ]
    }) %>
    <div class="content">
      <%- include('partials/breadcrumbs', { 
       breadcrumbsItems: [
        { url: '/', text: 'Main', class: ''},
        { url: '', text: 'Shipping and returns', class: 'active'},
       ],
      }); %>
    </div>
    <div class="content__thin">
      <h2 class="text-center terms-and-conditions-page__title">Terms & Conditions</h2>
      <div class="article-content">
        <p>Google Analytics is a fantastic tool because it eliminates the guesswork as to how visitors behave on a website.</p>
        <p>Conversion rates are one of the top priorities for many marketing websites, and Google Analytics can certainly help give you insight as to why the conversion rate is what it is. It can also shed light on additional user experience issues.</p>
        <p>Google Analytics is a tool for improving products, not just marketing websites.</p>
        <p>It tells you exactly what users are doing, where they’re coming from, how long they engaged, and so on. All of those things impact conversion rates and retention rates, among other metrics. Google Analytics can be a complicated tool, but it provides an enormous amount of data and insights. So, today we’ll be talking about two subsets of what you can use Google Analytics for as a UX designer: user behavior and user intent.</p>
      </div>
    </div>
    <%- include('partials/footer') %>
  </div>
  <%- include('partials/modal', { 
    id: 'modal_1',
    heading: {
      name: 'Sign In',
      text: 'Don’t have an account?',
      link: {
        text: 'Sign Up',
        target: '#modal_2',
      },
    },
    form: {
      id: 'sign-in-form',
      inputs : [
        { 
          class: 'input',
          type: 'email', 
          name: 'userEmail',
        },
        {
          class: 'input_icon-right',
          type: 'password',
          name: 'userPassword',
        },
        {
          class: 'input_button',
          type: 'submit',
          value: 'Sign In',
        },
      ],
    },
    footer: {
      text: '<a href="#" data-target="#modal_3" data-toggle="modal">Lost your password?</a>',
    }
  }); %>
  <%- include('partials/modal', { 
    id: 'modal_2',
    heading: {
      name: 'Sign Up',
      text: 'Already have an account?',
      link: {
        text: 'Sign In',
        target: '#modal_1',
      },
    },
    form: {
      id: 'sign-up-form',
      inputs : [
        { 
          class: 'input',
          type: 'text', 
          name: 'userName',
        },
        { 
          class: 'input',
          type: 'email', 
          name: 'userEmail',
        },
        {
          class: 'input_icon-right',
          type: 'password',
          name: 'userPassword',
        },
        {
          class: 'input_icon-right',
          type: 'password',
          name: 'userPasswordConfirm',
        },
        {
          class: 'input_button',
          type: 'submit',
          value: 'Sign Up',
        },
      ],
    },
    footer: {
      text: 'By signing in to your account you agree to our <a href="terms-and-conditions.html">Terms</a> & <a href="terms-and-conditions.html">Conditions</a> <a href="terms-and-conditions.html"></a>and <a href="terms-and-conditions.html">Privacy Policy</a>',
    }
  }); %>
  <%- include('partials/modal', { 
    id: 'modal_3',
    heading: {
      name: 'Restore password',
      text: '',
      link: {
        text: 'Sign In',
        target: '#modal_1',
      },
    },
    form: {
      id: 'restore-password-form',
      inputs : [
        { 
          class: 'input',
          type: 'email', 
          name: 'userEmail',
        },
        {
          class: 'input_button',
          type: 'submit',
          value: 'Apply',
        },
      ],
    },
  }); %>
  <%- include('partials/modal', { 
    id: 'modal_4',
    greetings : {
      title: 'Welcome,Vitaly!',
      text: 'Add an photo and let others get to know you better! You can do it later',
      button: {
        class: 'input_button',
        value: 'Finish',
      },
    },
  }); %>  
</body>
</html>
